.blocklyTreeRoot{
	min-width:155px;
}

a{
	text-decoration:none;
	color:#999;
}
a:hover{
	color:#000;
}

span.viewLeft{
	padding:3px 10px 3px 10px;
	background-color: #aaa;
    border: 1px solid #aaa;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color:#fff;
}

a.viewRight{
	padding:3px 10px 3px 10px;
	background-color: #fff;
    border: 1px solid #aaa;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#tabRow>td {
      border: 1px solid #ccc;
	  font-family: sans-serif;
	  font-size:18px;
	  border-bottom: none;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_xml {
      resize: none;
      outline: none;
      border: none;
	  border: 1px solid #ccc;
      font-family: monospace;
      overflow: scroll;
    }
td.tabon {
      border-bottom-color: #ddd !important;
      background-color: #ddd;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff {
      cursor: pointer;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff:hover {
      background-color: #eee;
}

.blocklyTreeIconOpen {
    margin: 8px;
}
.blocklyTreeIconClosedLtr {
    margin: 8px;
}


#side_code {
    padding:5px;
    border:0;
    height:100%;width:100%;
    resize:none;
}
#content_arduino {
	resize:none;
}

@font-face {
	font-family: myfont;
	src: url('font/xiongtuti.ttf');
}
html, body {
  height: 100%;
}
textarea{
	font-family:'courier new';
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}
/* Tabs */
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  text-align: right;
}
td.tabcoyright {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 70%;
  text-align: center;
}
td.tabmode {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 25%;
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: center;
}
.content {
  visibility: hidden;
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
button {
  padding: 1px 1em;
  font-size: 90%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
.right-top {
width: 20px;
height:74px;
background-size: 100% auto;
background-repeat: no-repeat;
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../media/sidebar/sidebar.png");
}
.right-top:hover{
width: 20px;
height:74px;
background-size: 100% auto;
background-repeat: no-repeat;
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../media/sidebar/sidebar_red.png");
}
.right-top2 {
width: 20px;
height:74px;
background-size: 100% auto;
background-repeat: no-repeat;
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../media/sidebar/sidebar2.png");
}
.right-top2:hover{
width: 20px;
height:74px;
background-size: 100% auto;
background-repeat: no-repeat;
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../media/sidebar/sidebar2_red.png");
}

div>span.blocklyTreeIcon.blocklyTreeIconNone{
	width:24px;height:24px;
	float:left;
	margin:4px;
	background:url('../../media/mark/default.png') no-repeat;
	background-size: 100% auto;
}
.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/default2.png') no-repeat;
	background-size: 100% auto;
}

#\:1>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/inout.png') no-repeat;
	background-size: 100% auto;
}
#\:1>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/inout2.png') no-repeat;
	background-size: 100% auto;
}
#\:2>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/ctrl.png') no-repeat;
	background-size: 100% auto;
}
#\:2>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/ctrl2.png') no-repeat;
	background-size: 100% auto;
}
#\:3>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/math.png') no-repeat;
	background-size: 100% auto;
}
#\:3>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/math.png') no-repeat;
	background-size: 100% auto;
}
#\:3>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/math2.png') no-repeat;
	background-size: 100% auto;
}
#\:4>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/logic.png') no-repeat;
	background-size: 100% auto;
}
#\:4>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/logic2.png') no-repeat;
	background-size: 100% auto;
}
#\:5>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/text.png') no-repeat;
	background-size: 100% auto;
}
#\:5>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/text2.png') no-repeat;
	background-size: 100% auto;
}
#\:6>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/list3.png') no-repeat;
	background-size: 100% auto;
}
#\:6>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/list4.png') no-repeat;
	background-size: 100% auto;
}
#\:7>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../media/mark/tuple.png') no-repeat;
  background-size: 100% auto;
}
#\:7>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../media/mark/tuple2.png') no-repeat;
  background-size: 100% auto;
}
#\:8>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/dict.png') no-repeat;
	background-size: 100% auto;
}
#\:8>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/dict2.png') no-repeat;
	background-size: 100% auto;
}
#\:9>div>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../media/mark/set.png') no-repeat;
  background-size: 100% auto;
}
#\:9>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../media/mark/set2.png') no-repeat;
  background-size: 100% auto;
}
#\:a>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/port.png') no-repeat;
	background-size: 100% auto;
}
#\:a>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/port2.png') no-repeat;
	background-size: 100% auto;
}
#\:b>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/comuni.png') no-repeat;
	background-size: 100% auto;
}
#\:b>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/comuni2.png') no-repeat;
	background-size: 100% auto;
}
#\:c>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/sensor.png') no-repeat;
	background-size: 100% auto;
}
#\:c>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/sensor2.png') no-repeat;
	background-size: 100% auto;
}
#\:d>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/act.png') no-repeat;
	background-size: 100% auto;
}
#\:d>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/act2.png') no-repeat;
	background-size: 100% auto;
}
#\:e>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto;
}
#\:e>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto;
}

#\:g>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/var.png') no-repeat;
	background-size: 100% auto;
}
#\:g>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/var2.png') no-repeat;
	background-size: 100% auto;
}
#\:h>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/func.png') no-repeat;
	background-size: 100% auto;
}
#\:h>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/func2.png') no-repeat;
	background-size: 100% auto;
}
#\:i>div>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/factory.png') no-repeat;
	background-size: 100% auto;
}
#\:i>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../media/mark/factory2.png') no-repeat;
	background-size: 100% auto;
}
/*text.blocklyCheckbox {
	fill: #ff3030!important;
	text-shadow: 0 0 3px red;
	font-size: 17pt!important;
}*/
span#span_blocks, span#span_arduino, select#languageMenu {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}

span.blocklyTreeLabel {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}

text.blocklyText {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}

@font-face {
    font-family: 'YaHei Consolas Hybrid';
    src: url('font/YaHei Consolas Hybrid.ttf');
}

.blocklyHtmlInput {
	font-family: 'YaHei Consolas Hybrid';
}

#side_code,.content,.ace_editor,.ace-xcode {
    font-family: 'YaHei Consolas Hybrid', 'Microsoft Yahei Light', 'Arial', 'SimHei';
}

#mixgo_board {
    width: 410px;
    height: 236px;
    background-image: url(./media/mixgo.png);
    background-size: 100% 100%;
    position: relative;
    transition: all 0.5s;
    margin: auto;
}

.mb_led_brightness_0 {   background-color: #000; }
.mb_led_brightness_1 {  background-color: #800000; }
.mb_led_brightness_2 {  background-color: #880000; }
.mb_led_brightness_3 {  background-color: #900000; }
.mb_led_brightness_4 {  background-color: #980000; }
.mb_led_brightness_5 {  background-color: #a00000; }
.mb_led_brightness_6 {  background-color: #a80000; }
.mb_led_brightness_7 {  background-color: #b00000; }
.mb_led_brightness_8 {  background-color: #b80000; }
.mb_led_brightness_9 {  background-color: #c00000; }
.mb_led_brightness_10 {  background-color: #c80000; }
.mb_led_brightness_11 {  background-color: #d00000; }
.mb_led_brightness_12 {  background-color: #d80000; }
.mb_led_brightness_13 {  background-color: #e00000; }
.mb_led_brightness_14 {  background-color: #e80000; }
.mb_led_brightness_15 {  background-color: #ff0000; }

.mb_led_row_0 { top: 36px; }
.mb_led_row_1 { top: 52px; }
.mb_led_row_2 { top: 68px; }
.mb_led_row_3 { top: 85px; }
.mb_led_row_4 { top: 102px; }
.mb_led_row_5 { top: 120px; }
.mb_led_row_6 { top: 136px; }
.mb_led_row_7 { top: 153px; }

.mb_led_col_0 { left: 49px; }
.mb_led_col_1 { left: 68px; }
.mb_led_col_2 { left: 88px; }
.mb_led_col_3 { left: 108px; }
.mb_led_col_4 { left: 128px; }
.mb_led_col_5 { left: 148px; }
.mb_led_col_6 { left: 168px; }
.mb_led_col_7 { left: 188px; }
.mb_led_col_8 { left: 208px; }
.mb_led_col_9 { left: 228px; }
.mb_led_col_10 { left: 248px; }
.mb_led_col_11 { left: 268px; }
.mb_led_col_12 { left: 288px; }
.mb_led_col_13 { left: 308px; }
.mb_led_col_14 { left: 328px; }
.mb_led_col_15 { left: 348px; }

#mixgo_led_1{
    left: 14.5px;
    top: 78px;
}

#mixgo_led_2{
    left: 379.5px;
    top: 78px;
}

#mixgo_btn_A {
    left: 14.5px;
    top: 98px;
}

#mixgo_btn_B {
    left: 379.5px;
    top: 98px;
}

.mb_btn:hover {
    background-color: #F00;
}

.mb_btn {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #333;
    transition: all 0.25s;
    position: absolute;
    opacity: 0.9;
}

.mb_led {
    width: 12px;
    height: 4px;
    transition: all 0.1s;
    position: absolute;
}

#servo {
  float: left;
  width: 160px;
  height: 168px;
}

.blocklyWsDragSurface {
    overflow: visible !important;
}

.monitor-div {
    display: none;
}

#mb_run, #sm_run, #save_xml {
    font-size: 12px;
    margin-left: 5px;
}