.blocklyTreeRoot{
	min-width:120px;
}
#tabRow>td {
      border: 1px solid #ccc;
	  font-family: sans-serif; 
	  font-size:18px;
	  border-bottom: none;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_xml {
      resize: none;
      outline: none;
      border: none;
	  border: 1px solid #ccc;
      font-family: monospace;
      overflow: scroll;
    }
td.tabon {
      border-bottom-color: #ddd !important;
      background-color: #ddd;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff {
      cursor: pointer;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff:hover {
      background-color: #eee;
}

.blocklyTreeIconOpen {
    margin: 8px;
}
.blocklyTreeIconClosedLtr {
    margin: 8px;
}

div>span.blocklyTreeIcon.blocklyTreeIconNone{
	width:24px;height:24px;
	float:left;
	margin:4px;
	background:url('../../media/mark/default.png') no-repeat;
	background-size: 100% auto; 
}
.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/default2.png') no-repeat;
	background-size: 100% auto; 
}

#\:1>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/inout.png') no-repeat;
	background-size: 100% auto; 
}
#\:1>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/inout2.png') no-repeat;
	background-size: 100% auto; 
}
#\:2>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/ctrl.png') no-repeat;
	background-size: 100% auto; 
}
#\:2>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/ctrl2.png') no-repeat;
	background-size: 100% auto; 
}
#\:3>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/math.png') no-repeat;
	background-size: 100% auto; 
}
#\:3>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/math2.png') no-repeat;
	background-size: 100% auto; 
}
#\:4>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/text.png') no-repeat;
	background-size: 100% auto; 
}
#\:4>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/text2.png') no-repeat;
	background-size: 100% auto; 
}
#\:5>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/list.png') no-repeat;
	background-size: 100% auto; 
}
#\:5>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/list2.png') no-repeat;
	background-size: 100% auto; 
}
#\:6>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/logic.png') no-repeat;
	background-size: 100% auto; 
}
#\:6>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/logic2.png') no-repeat;
	background-size: 100% auto; 
}
#\:7>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/comuni.png') no-repeat;
	background-size: 100% auto; 
}
#\:7>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/comuni2.png') no-repeat;
	background-size: 100% auto; 
}
#\:8>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/store.png') no-repeat;
	background-size: 100% auto; 
}
#\:8>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/store2.png') no-repeat;
	background-size: 100% auto; 
}
#\:9>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/sensor.png') no-repeat;
	background-size: 100% auto; 
}
#\:9>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/sensor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:a>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/act.png') no-repeat;
	background-size: 100% auto; 
}
#\:a>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/act2.png') no-repeat;
	background-size: 100% auto; 
}
#\:d>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/var.png') no-repeat;
	background-size: 100% auto; 
}
#\:d>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/var2.png') no-repeat;
	background-size: 100% auto; 
}
#\:e>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/func.png') no-repeat;
	background-size: 100% auto; 
}
#\:e>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../media/mark/func2.png') no-repeat;
	background-size: 100% auto; 
}