<style>
    /* 示例 */
    .footer-layer-example .layui-tree * {
        box-sizing: unset !important;
    }

    html[data-bs-theme=light] .footer-layer-example .layui-tree-txt {
        color: #000;
    }

    html[data-bs-theme=light] .footer-layer-example .layui-tree-icon .layui-icon {
        color: #000;
    }

    html[data-bs-theme=dark] .footer-layer-example .layui-tree-txt {
        color: #fff;
    }

    html[data-bs-theme=dark] .footer-layer-example .layui-tree-icon .layui-icon {
        color: #fff;
    }

    .footer-layer-example .layui-tree-icon {
        border: none !important;
        width: 16px !important;
        height: 16px !important;
        font-size: 16px !important;
        margin: 0 10px !important;
    }

    .footer-layer-example .layui-tree-icon .layui-icon {
        font-size: 16px;
    }

    .footer-layer-example .layui-tree-iconClick {
        height: 16px;
        line-height: 16px;
        margin: 0 3px 0 10px;
    }

    html[data-bs-theme=light] .footer-layer-example .layui-tree-iconClick {
        color: #000;
    }

    html[data-bs-theme=dark] .footer-layer-example .layui-tree-iconClick {
        color: #fff;
    }

    .footer-layer-example .layui-tree-iconClick .layui-icon {
        font-size: 16px;
    }
</style>
<div class="example-tree-body" style="width:100%;height:100%;"></div>