<div class="group">
    <!-- <button m-id="deps" class="layui-btn layui-btn-xs layui-btn-primary m-btn">
        <i class="layui-icon layui-icon-component"></i>依赖
    </button>
    <div class="line"></div> -->
    <button m-id="block" class="layui-btn layui-btn-xs layui-btn-primary m-btn self-adaption-btn">
        <i class="icon-puzzle"></i>{{ d.block }}
    </button>
    <button m-id="mixture" class="layui-btn layui-btn-xs layui-btn-primary m-btn">
        <i class="icon-cube"></i>{{ d.mix }}
    </button>
    <button m-id="code" class="layui-btn layui-btn-xs layui-btn-primary m-btn">
        <i class="icon-code"></i>{{ d.code }}
    </button>
</div>