div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(1)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/inout.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(1)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/inout2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(2)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/ctrl.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(2)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/ctrl2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(3)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/math.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(3)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/math2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(4)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/logic.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(4)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/logic2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(5)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/text.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(5)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/text2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(6)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/list.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(6)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/list2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(7)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/var.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(7)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/var2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(8)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/func.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(8)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/func2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(9)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/port.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(9)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/port2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(10)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/resources.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(10)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/resources2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(11)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/sensor.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(11)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/sensor2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(12)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/act.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(12)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/act2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第一个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/4Digitdisplay.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第一个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/4Digitdisplay2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第二个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/lcd.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第二个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/lcd2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第三个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/oled.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第三个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/oled2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第四个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/Matrix.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第四个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(13)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/Matrix2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(14)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/comuni.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(14)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/comuni2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第一个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第一个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第二个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第二个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第三个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第三个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(15)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/store2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第一个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/WIFI.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第一个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(1)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/WIFI2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第二个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/blynk.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第二个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(2)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/blynk2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第三个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/iot.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第三个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(3)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/iot2.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第四个图标（未选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/weather.png') no-repeat;
    background-size: 100% auto;
}

/*子模块的第四个图标（选中时）*/
div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(16)>div:nth-child(2)>div:nth-child(4)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/weather2.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(18)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/factory3.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(18)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/factory4.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(19)>div.blocklyTreeRow>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/tool.png') no-repeat;
    background-size: 100% auto;
}

div.blocklyToolboxDiv>div.blocklyToolboxContents>div:nth-child(19)>div.blocklyTreeRow.blocklyTreeSelected>div.blocklyTreeRowContentContainer>span.blocklyTreeIcon {
    background: url('../../../../common/media/mark/tool2.png') no-repeat;
    background-size: 100% auto;
}