.setFontSize {
	position: absolute;
	right: 20;
	background-image: url('../../../media/sprites.png');
	width: 32px;
	height: 32px;
}
#resetFontSize{
	bottom: 100;
	background-position: -96px -92px;
}
#increaseFontSize{
	bottom: 68;
	background-position: -32px -92px;
}
#decreaseFontSize{
	bottom: 36;
	background-position: -64px -92px;
}

/*Blocks*/
span#span_blocks, span#span_arduino, select#languageMenu {
    font-family: 'SourceHanSansCN-Regular', 'Arial', 'SimHei';
    color: #333333;
}

span.blocklyTreeLabel {
    font-family: 'SourceHanSansCN-Regular', 'Arial', 'SimHei';
    color: #333333;
    font-size: 17px;
}

text.blocklyText {
    font-family: 'SourceHanSansCN-Regular', 'Arial', 'SimHei';
}

.blocklyWidgetDiv .goog-menuitem-content {
    color: #000;
    font: normal 13px Arial, sans-serif;
    font-family: 'SourceHanSansCN-Regular', 'Arial', 'SimHei';
    margin: 0 0 0 0;
}

@font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('../font/SourceHanSansCN-Regular.otf');
}

.blocklyHtmlInput {
	font-family: 'SourceHanSansCN-Regular';
}

/*#side_code,.content,.ace_editor,.ace-xcode {
    font-family: 'SourceHanSansCN-Normal', 'Arial', 'SimHei';
}*/