
#\:1>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/inout.png') no-repeat;
	background-size: 100% auto; 
}
#\:1>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/inout2.png') no-repeat;
	background-size: 100% auto; 
}
#\:2>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/ctrl.png') no-repeat;
	background-size: 100% auto; 
}
#\:2>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/ctrl2.png') no-repeat;
	background-size: 100% auto; 
}
#\:3>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/math.png') no-repeat;
	background-size: 100% auto; 
}
#\:3>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/math2.png') no-repeat;
	background-size: 100% auto; 
}
#\:4>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/text.png') no-repeat;
	background-size: 100% auto; 
}
#\:4>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/text2.png') no-repeat;
	background-size: 100% auto; 
}
#\:5>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/list.png') no-repeat;
	background-size: 100% auto; 
}
#\:5>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/list2.png') no-repeat;
	background-size: 100% auto; 
}
#\:6>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/logic.png') no-repeat;
	background-size: 100% auto; 
}
#\:6>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/logic2.png') no-repeat;
	background-size: 100% auto; 
}
#\:7>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/port.png') no-repeat;
	background-size: 100% auto; 
}
#\:7>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/port2.png') no-repeat;
	background-size: 100% auto; 
}
#\:8>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/comuni.png') no-repeat;
	background-size: 100% auto; 
}
#\:8>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/comuni2.png') no-repeat;
	background-size: 100% auto; 
}
#\:9>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/store.png') no-repeat !important;
	background-size: 100% auto !important; 
}
#\:9>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/store2.png') no-repeat !important;
	background-size: 100% auto !important; 
}
#\:a>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/sensor.png') no-repeat;
	background-size: 100% auto; 
}
#\:a>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/sensor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:b>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/act.png') no-repeat;
	background-size: 100% auto; 
}
#\:b>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/act2.png') no-repeat;
	background-size: 100% auto; 
}
#\:c>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:c>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:d>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/blynk/widget_lcd2.png') no-repeat;
	background-size: 100% auto; 
}
#\:d>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/blynk/widget_lcd.png') no-repeat;
	background-size: 100% auto; 
}
#\:e>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:e>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:f>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:f>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:g>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:g>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:h>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/var.png') no-repeat;
	background-size: 100% auto; 
}
#\:h>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/var2.png') no-repeat;
	background-size: 100% auto; 
}

#\:i>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/func.png') no-repeat;
	background-size: 100% auto; 
}
#\:i>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/func2.png') no-repeat;
	background-size: 100% auto; 
}
#\:j>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/blynk/blynk.png') no-repeat;
	background-size: 100% auto; 
}
#\:j>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/blynk/blynk2.png') no-repeat;
	background-size: 100% auto; 
}
