
#\:0 > div:nth-child(2) > div:nth-child(1) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/inout.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(1) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/inout2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(2) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/ctrl.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(2) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/ctrl2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(3) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/math.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(3) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/math2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(4) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/text.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(4) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/text2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(5) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/list.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(5) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/list2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(6) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/logic.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(6) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/logic2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(7) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/port.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(7) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/port2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(8) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/comuni.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(8) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/comuni2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(9) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/store.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(9) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/store2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(10) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/sensor.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(10) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/sensor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(11) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/act.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(11) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/act2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(12) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(12) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(13) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/blynk/widget_lcd2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(13) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/blynk/widget_lcd.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(14) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(14) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(15) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(15) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(16) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/monitor.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(16) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/monitor2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(17) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/var.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(17) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/var2.png') no-repeat;
	background-size: 100% auto; 
}

#\:0 > div:nth-child(2) > div:nth-child(18) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/func.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(18) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/func2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(19) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/blynk/blynk.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(19) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/blynk/blynk2.png') no-repeat;
	background-size: 100% auto; 
}
#\:k>div>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/factory.png') no-repeat;
	background-size: 100% auto; 
}
#\:k>.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/factory2.png') no-repeat;
	background-size: 100% auto; 
}