.blocklyTreeRoot{
	min-width:155px;
}

a{
	text-decoration:none;
	color:#999;
}
a:hover{
	color:#000;
}

span.viewRight{
  padding:3px 10px 3px 10px;
  background-color: #aaa;
    border: 1px solid #aaa;
  color:#fff;
    border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

a.viewLeft{
  padding:3px 10px 3px 10px;
  background-color: #fff;
    border: 1px solid #aaa;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
#tabRow>td {
      border: 1px solid #ccc;
	  font-family: sans-serif; 
	  font-size:18px;
	  border-bottom: none;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_xml {
      resize: none;
      outline: none;
      border: none;
	  border: 1px solid #ccc;
      font-family: monospace;
      overflow: scroll;
    }
td.tabon {
      border-bottom-color: #ddd !important;
      background-color: #ddd;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff {
      cursor: pointer;
	  color: #000;
      padding: 3px 19px 3px 19px;
	  min-width:80px;
}
td.taboff:hover {
      background-color: #eee;
}

.blocklyTreeIconOpen {
    margin: 8px;
}
.blocklyTreeIconClosedLtr {
    margin: 8px;
}


#side_code {
    padding:5px;
    border:0;
    height:100%;width:100%;
    resize:none;
}
#content_arduino {
	resize:none;
}

@font-face { 
	font-family: myfont; 
	src: url('../font/xiongtuti.ttf'); 
} 
html, body {
  height: 100%;
}
textarea{
	font-family:'courier new';
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}
/* Tabs */
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  text-align: right;
}
td.tabcoyright {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 70%;
  text-align: center;
}
td.tabmode {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 25%;
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: center;
}
.content {
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
button {
  padding: 1px 1em;
  font-size: 90%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
.right-top {
width: 20px;
height:74px;
background-size: 100% auto; 
background-repeat: no-repeat; 
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../../media/sidebar/sidebar.png");
}
.right-top:hover{
width: 20px;
height:74px;
background-size: 100% auto; 
background-repeat: no-repeat; 
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../../media/sidebar/sidebar_red.png");
}
.right-top2 {
width: 20px;
height:74px;
background-size: 100% auto; 
background-repeat: no-repeat; 
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../../media/sidebar/sidebar2.png");
}
.right-top2:hover{
width: 20px;
height:74px;
background-size: 100% auto; 
background-repeat: no-repeat; 
position: fixed;
z-index: 999;
right:0px;
top: 35%;
background-image:url("../../../media/sidebar/sidebar2_red.png");
}

div>span.blocklyTreeIcon.blocklyTreeIconNone{
	width:24px;height:24px;
	float:left;
	margin:4px;
	background:url('../../../media/mark/default.png') no-repeat;
	background-size: 100% auto; 
}
.blocklyTreeSelected>span.blocklyTreeIcon.blocklyTreeIconNone{ 
	background:url('../../../media/mark/default2.png') no-repeat;
	background-size: 100% auto; 
}

#\:0 > div:nth-child(2) > div:nth-child(1) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/inout.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(1) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/inout2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(2) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/ctrl.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(2) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/ctrl2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(3) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/math.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(3) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/math2.png') no-repeat;
	background-size: 100% auto; 
}

#\:0 > div:nth-child(2) > div:nth-child(4) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/logic.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(4) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/logic2.png') no-repeat;
  background-size: 100% auto; 
}

#\:0 > div:nth-child(2) > div:nth-child(5) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/text.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(5) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/text2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(6) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/list3.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(6) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/list4.png') no-repeat;
	background-size: 100% auto; 
}

#\:0 > div:nth-child(2) > div:nth-child(7) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/tuple.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(7) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/tuple2.png') no-repeat;
  background-size: 100% auto; 
}

#\:0 > div:nth-child(2) > div:nth-child(8) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
	background:url('../../../media/mark/dict.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(8) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
	background:url('../../../media/mark/dict2.png') no-repeat;
	background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(9) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/set.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(9) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/set2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(10) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/var.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(10) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/var2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(11) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/func.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(11) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/func2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(12) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/file.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(12) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/file2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(13) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/turtle.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(13) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/turtle2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(14) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/ai.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(14) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/ai2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(15) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/hardware.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(15) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/hardware2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(16) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/data.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(16) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/data2.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(17) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/machine_learning.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(17) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/machine_learning2.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第一个图标（未选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(1) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/class.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第一个图标（选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(1) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon{
  background:url('../../../media/mark/class2.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第二个图标（未选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(2) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/property.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第二个图标（选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(2) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon{
  background:url('../../../media/mark/property2.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第三个图标（未选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(3) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/method.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第三个图标（选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(3) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon{
  background:url('../../../media/mark/method2.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第四个图标（未选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(4) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/object.png') no-repeat;
  background-size: 100% auto; 
}
/*子模块的第四个图标（选中时）*/
#\:0 > div:nth-child(2) > div:nth-child(18) > div:nth-child(2) > div:nth-child(4) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon{
  background:url('../../../media/mark/object2.png') no-repeat;
  background-size: 100% auto; 
}
/*
#\:0 > div:nth-child(2) > div:nth-child(17) > div.blocklyTreeRow > span.blocklyTreeIcon.blocklyTreeIconNone {
  background:url('../../../media/mark/ds.png') no-repeat;
  background-size: 100% auto; 
}
#\:0 > div:nth-child(2) > div:nth-child(17) > div.blocklyTreeRow.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone{
  background:url('../../../media/mark/ds2.png') no-repeat;
  background-size: 100% auto; 
}
*/
/*text.blocklyCheckbox {
  fill: #ff3030!important;
  text-shadow: 0 0 3px red;
  font-size: 17pt!important;
}*/
#side_code_mid {
    background-color: #ddd;
    background-image: url(../../media/resizey.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1%;
    width: 100%;
    cursor: row-resize;
}

#reset_output{
	position: absolute;
    top: 5px;
    right: 20px;
    color: #525252;	
	width:21px;
	height:21px;
}
#reset_output:hover{
	cursor:pointer
}
a{
	text-decoration:none;
	color:#999;
}
a:hover{
	color:#000;
}
.errorMsg{
    color:#ff5050;
    font-size:16px;
}
.inputMsg {
    font-size: inherit;
    font-family: inherit;
    border: none;
    background: inherit;
    width: 100%;
    resize: none;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
}
