<style>
    div[m-id="{{d.mId}}"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] {
        background-color: #ffffff;
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] {
        background-color: #1e1e1e;
    }

    div[m-id="{{d.mId}}"] > #output-img {
        width: fit-content;
        height: 500px;
        position: relative;
    }
</style>
<div m-id="{{d.mId}}" class="page-item mixly-scrollbar">
    <div id="output-img"></div>
</div>