<div class="layui-form" id="mixly-selector-div" style="display: none;">
    <div class="layui-form-item">
        <div id="mixly-selector-type-div">
            <select id="mixly-selector-type">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div style="text-align:center;">
            <button id="mixly-selector-btn1" class="layui-btn layui-btn-normal" onclick="">{{d.btn1Name}}</button>
            <button id="mixly-selector-btn2" class="layui-btn layui-btn-normal" onclick="">{{d.btn2Name}}</button>
        </div>
    </div>
</div>